.base {
  font-family: system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Lucida Grande';
  font-size: 21px;
  letter-spacing: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.label {
  align-items: stretch;
  display: flex;
  height: 2.25in;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.125in;
  width: 4in;

  &__top,
  &__bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__top__category,
  &__bottom__metadata {
    margin-right: 0.125in;
  }

  &__top__category,
  &__bottom__metadata,
  &__bottom__date {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__key {
    font-size: 127px;
    font-weight: 500;
    line-height: 0;
  }
}
