.base {
  font-family: 'Myriad Set', 'Myriad Set Pro', Myriad, 'Heveltica Neue', Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 0;
}

.label {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 2.25in;
  padding: 0.125in;
  width: 4in;

  &__header {
    margin-bottom: 0.125in;
  }

  &__body {
    display: flex;
    flex-grow: 1;
  }
}

.header {
  align-items: center;
  display: flex;
  font-size: 26px;
  justify-content: space-between;

  &__category {
    font-weight: 600;
  }
}

.body {
  align-items: stretch;
  display: flex;
  flex-grow: 1;

  &__details {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 0.125in;

    &__metadata {
      flex-grow: 1;
      list-style: none;
      margin: 0;
      padding: 0;

      &__item {
        margin-bottom: 0.0625in;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__technical {
      border-collapse: separate;
      border-spacing: 0;
      font-size: 11px;
      margin-bottom: 0.125in;
      width: 100%;

      tr {
        &:last-child {
          th,
          td {
            padding-bottom: 0;
          }
        }

        th {
          font-weight: 700;
          padding: 0 0.0625in 2px 0;
        }

        td {
          padding: 0 0 2px 0;
        }
      }
    }
  }

  &__key {
    align-items: center;
    background-color: #000;
    border-radius: 0.0625in;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    font-size: 115px;
    font-weight: 400;
    justify-content: center;
    padding: 0.0625in;
    width: 2.5in;

    &__value {
      position: relative;
      top: 0.0625in;
    }
  }
}
