.base {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.top-bar {
  padding: 0;
}

.search-icon {
  padding-left: 3.5px;
  width: 50px;
}

.search {
  background-color: transparent;
  flex-grow: 1;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-right: 15px;
  padding-left: 0;
  margin-left: 0;
}

.addAllButton {
  margin-left: 10px;
}

.list {
  flex-grow: 1;
  overflow: auto;
}

.loading {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.accessories-left-icon {
  padding-left: 3.5px;
  width: 20px;
}
