.base {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.metadata {
  color: #999;
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;

  &__item {
    display: inline-block;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
